<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAMCODE - Home</title>
</head>
<body>
    
    <h1><a href="/courses">Courses</a> » <%- course.name %> </h1>
    
    <hr>

    <h2>Course info</h2>
    
    <ul>
        <li>Name: <%-course.name%></li>
        <li>Description: <%-course.description%></li>
        <li>
            Authors: 
            <ol>
                <% for (var i in course.authors) { %>
                    <li><%-course.authors[i].name%></li>
                <% } %> 
            </ol>
        </li>
    </ul>

    <hr>

    <h2>Topics</h2>

    <ol>
        <% for (var i in course.topics) { %>
            <li>
                <h3>
                    <a href="/courses/<%-course.id%>/<%-course.topics[i].id%>"><%-course.topics[i].name%></a>
                </h3>
            </li>
        <% } %>
    </ol>


</body>
</html>