<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    
    <h1>Information about <%-user.username%>#<%-user.discriminator%> </h1>

    <hr>
    
    <ul>
        <li>Username: <%- user.username %>#<%- user.discriminator %></li>
        <li>ID: <%- user.id %> </li>
        <li>Language: <%- user.locale %> </li>
        <li>2FA: <%- user.mfa_enabled ? "Enabled" : "Disabled" %> </li>
        <li>
            Avatar URL: <a href="https://cdn.discordapp.com/avatars/344491989691269151/<%- user.avatar %>">Click here</a> <br />
            <img src="https://cdn.discordapp.com/avatars/344491989691269151/<%- user.avatar %>" />
        </li>
    </ul>


</body>
</html>